/* ========================================================================
   華和梨ドキュメント用 スタイルシート

   2002/05/20    各HTMLから分離
 ======================================================================== */

/*
 基本ブロック要素群
 */
BODY { margin: 0px; padding: 1ex 1em 3ex 1em; line-height: 140%; }
BLOCKQUOTE { margin: 1ex 2em 1ex 2em; }
P { margin: 1.5ex 0em 1.5ex 0em; padding: 0px; }
P.top { margin: 0ex 0em 1.5ex 0em; padding: 0px; }

H1 {
	margin: 1ex 0px 2ex 0px; padding: 0.2ex 0em 0.2ex 1em;
	border-style: solid; border-width: 1px 12px 1px 12px; border-color: gray;
	font-weight: bold; font-size: large; font-family: Helvetica, sans-serif;
}
H2 {
	margin: 3ex 0px 1ex 0px; padding: 0.3ex 0px 0.3ex 1em;
	background: #666666; color: white;
	font-weight: bold; font-size: medium; font-family: Helvetica, sans-serif;
}
H3 {
	margin: 3ex 0px 1ex 0px; padding: 0px 0px 0.1ex 1em;
	border-width: 0 0 2px 0; border-style: solid; border-color: #c03030;
	font-weight: bold; font-size: medium; font-family: Helvetica, sans-serif;
}
H4 {
	margin: 3ex 0em 1ex 0em; padding: 0px 0px 0.3ex 1em;
	font-weight: bold; font-size: 100%; font-family: Helvetica, sans-serif;
}

/*
 サンプルコード部
 */
DIV.syntax {
	padding: 1ex 1em 1ex 2em; margin: 1ex 2em 1ex 2em; text-indent: 0px;
	line-height: 130%;
	border-width: 2px; border-style: solid; border-color: gray;
	font-family: monospace; font-size: medium;
/*	overflow: scroll; */
}
DIV.sample {
	padding: 1ex 1em 1ex 2em; margin: 1ex 2em 1ex 2em; text-indent: 0px;
	line-height: 110%;
	border-width: 1px; border-style: solid; border-color: black;
	font-family: monospace; font-size: medium;
/*	overflow: scroll; */
}
SPAN.sample {
	border-style: solid; border-color: black; border-width: 1px;
	margin: 0.5em; padding: 0.5em;
	font-family: monospace;
}
PRE {
	padding: 1ex 1em 1ex 2em; margin: 1ex 2em 1ex 2em; text-indent: 0px;
	line-height: 110%;
	border-width: 1px; border-style: solid; border-color: black;
	font-family: monospace; font-size: medium;
}
.tt { font-family: monospace; }
#type { font-family: monospace; color: #c03030; }

/*
 テーブルとリスト
 */
TABLE{ margin: 1ex 0em 1ex 0em; }
CAPTION{ padding: 8px 0em 0ex 2em; font-weight: bold; text-allign: left; }
TD { vertical-align: top; text-align: left; }
DL{ margin-left: 2em; padding: 0px; }
DL DT { margin: 1ex 0px 0px 0px; padding: 0px; font-weight: bold; }
DL DD { margin: 0px 0px 0px 2em; padding: 0px; }

TR.genre{ font-style: italic; text-indent: 1em; }
TR.gb{ background: lightgrey; }

/*
 アンカー
 */
A { text-decoration: none; }
A:link { color: #ff7070; }
A:visited { color: #ff7070; }
A:hover { color: orange; text-decoration: underline; }
A:active { background: crimson; color: white; }

/*
 ← back
 */
A.toindex {border: 1px solid black; padding: 2px 1em 2px 1em; color: black;}
A.toindex:link { color: black; }
A.toindex:visited { color: black; }
A.toindex:hover {text-decoration: none; color: white; background: #c03030;}

/*
 強調とマーキング
 */
EM { font-style: italic; color: red; padding-right: 0.5em; padding-right: 0.5em; }
#red { color: red; }
#blue { color: blue; }
#green { color: green; }
